<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dropmark.alfred.gif</string>
	<key>connections</key>
	<dict>
		<key>29BDB872-5A02-465E-AB4F-EDE3D16B9EB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DE0D9E3-371B-4AFF-9A4F-E6BBC18461FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dropmark</string>
	<key>description</key>
	<string>GIF search for Alfred, powered by Dropmark</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GIF</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9DE0D9E3-371B-4AFF-9A4F-E6BBC18461FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>gif</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>collection = "http://skylar.dropmark.com/133727"

# Replace above URL with your own (public or global) Dropmark collection
# More: https://github.com/Dropmark/alfred-gif
#
require 'gif.rb'
puts gif collection, "{query}"</string>
				<key>subtext</key>
				<string>Find GIFs in Dropmark</string>
				<key>title</key>
				<string>gif</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>29BDB872-5A02-465E-AB4F-EDE3D16B9EB1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>29BDB872-5A02-465E-AB4F-EDE3D16B9EB1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9DE0D9E3-371B-4AFF-9A4F-E6BBC18461FF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://dropmark.com</string>
</dict>
</plist>
